@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_SubMenu" model="SubMenuTransacciones.Diario"/>
<div class="row">
    <div class="col-11">
        <div class="text-end mb-3 mt-4">
            <a class="btn btn-success" asp-action="Crear">Crear Transaccion</a>
        </div>
    </div>
</div>


<partial name="_ReporteTransaccionesDetalladas" model="Model" />




