@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Detalle Transacciones";
}
<div class="text-center">
    <h1>Movimientos @ViewBag.Cuenta</h1>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />
