
.acordeon-cuentas button {
    color: black !important;
    font-size: 20px;
}

    .acordeon-cuentas button > span {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


.lista-cuentas {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 18px;
}
