.encabezado{
    padding: 0 0 30px 0;
}

.intermedio {
    background: #8CA42E;
}


#reordenable{
    cursor: move;
}

.contenedor-totales{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
}

.activo{
    color: blue;
}

.pasivo{
    color: red;
}

