@model Categoria
@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="text-center">
    <h1>Editar categoria @Model.Nombre</h1>
</div>

<div class="row justify-content-center">
    <div class="col-8">

        <form asp-action="Editar">
            <input type="hidden" asp-for="Id"/>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input class="form-control" asp-for="Nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TipoOperacionId"></label>
                <select class="form-control" asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()"></select>
                <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>

        </form>

    </div>
</div>